<div class='row large-5'>
  <div class='success callout'>
    Você acabou de fechar uma venda para a <strong><%= @customer.name %></strong>!
    <br>
    <br>
    Agora é hora de agendar uma data para fazer um contato com ela e perguntar o que ela achou dos produtos.
    <br>
    <br>
  </div>
</div>

<div class='row large-4'>
  <%= form_for @customer, url: update_customer_path(@customer) do |f| %>
    <p>Quando será esse contato?
    <p><%= f.date_field :next_contact_date, value: (@customer.sales.last.created_at + 2.days).to_date %>
    <p>Alguma observação adicional?
    <p><%= f.text_area :observations %>
    <p align='right'><%= f.submit "Salvar data do próximo contato", class: 'button' %>
  <% end %>
</div>
