<div class='row'>
  <h2 class='mk-color-on-white'>PRODUTOS</h2>
</div>

<div class='row'>
  <%= link_to 'Em estoque', products_path(status: :in_stock), class: 'secondary hollow button' %>
  <%= link_to 'Vendidos', products_path(status: :sold), class: 'secondary hollow button' %>
  <%= link_to 'Amostras', products_path(status: :sample), class: 'secondary hollow button' %>
  <%= link_to 'Outros', products_path(status: :to_be_defined), class: 'secondary hollow button' %>
  <%= link_to 'Todos', products_path, class: 'secondary hollow button' %>

  <div class='large-7 column'>
    <%= form_tag({ controller: 'products', action: 'search' }, { method: 'get' }) do %>
      <div class='input-group'>
        <%= label_tag(:query, 'Busca:', class: 'input-group-label') %>
        <%= text_field_tag(:query, nil, class: 'input-group-field') %>
        <div class='input-group-button'>
          <%= submit_tag 'Buscar', class: 'secondary hollow button' %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div class='row'>
  <table border='1' style='width:100%' id='js-products-table'>
    <tr class='mk-color-on-white'>
      <th></th>
      <th>Nome</th>
      <th>Status</th>
      <th>Preço Pago</th>
      <th>Preço de Venda</th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to 'Editar', edit_product_path(product)  %></td>
        <td><%= product.name %></td>
        <td><center><%= product_status(product.status).html_safe %></center></td>
        <td><center><%= product.purchase_price %></center></td>
        <td><center><%= product.sales_price %></center></td>
      </tr>
    <% end %>
  </table>
</div>
