<h2 class='mk-color-on-white'>
  VENDAS
  <%= link_to 'Adicionar nova venda', new_sale_path, class: 'small primary hollow button' %>
</h2>

<table border="1" style="width:100%">
  <tr>
    <th>Cliente</th>
    <th>Valor</th>
    <th>Data</th>
    <th>Último contato com cliente</th>
  </tr>
  <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.customer.name %></td>
      <td><%= sale.value %> </td>
      <td><%= sale.created_at.strftime("%d, %B %Y") %></td>
      <td><%= sale.customer.last_contact_date.try(:strftime, "%d, %B %Y") || 'Nenhum' %></td>
    </tr>
  <% end %>
</table>
