<div class='row'>
  <h2 class='mk-color-on-white'>
    NOVA VENDA
  </h2>
</div>

<%= form_tag action: 'create' do %>
  <div class='row'>
      <p><h3>Cliente:</h3>
      <p class='large-4'><%= collection_select(:sale, :customer_id, @customers, :id, :name) %></p>
      <p><%= link_to('Criar nova cliente', new_customer_path, class: 'secondary small hollow button') %>
  </div>

  <div class='row collapse'>
    <p><h3>Produtos:</h3>

    <%= collection_check_boxes(:sale, :products_ids, @products, :id, :name) do |b| %>
      <p>
      <div class='large-5 columns'>
        <%= b.check_box %> <%= b.object.name %>
      </div>
    <% end %>
  </div>

  <div class='row'>
    <%= submit_tag "Criar" %>
  </div>
<% end %>
