<h1>NOVA VENDA</h1>

<%= form_tag action: 'create' do %>
  <p><h2>Cliente:</h2>
  <p><%= collection_select(:sale, :customer_id, @customers, :id, :name) %>
  <p><%= link_to('Criar nova cliente', new_customer_path) %>

  <p><h2><%= @products.count %> Produtos:</h2>

  <%= collection_check_boxes(:sale, :products_ids, @products, :id, :name) do |b| %>
    <p>
    <%= b.check_box %> <%= b.object.name %>
  <% end %>

  <p><%= submit_tag "Criar" %>
<% end %>
