<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= image_tag 'secretary-woman2.png', height: '18', width: '18' %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Dashboard', dashboard_path, class: 'mk-color' %></li>
        <li><%= link_to 'Pedidos', requests_index_path, class: 'mk-color' %></li>
        <li><%= link_to 'Produtos', products_index_path, class: 'mk-color' %></li>
        <li><%= link_to 'Clientes', customers_index_path, class: 'mk-color' %></li>
        <li><%= link_to 'Vendas', sales_index_path, class: 'mk-color' %></li>
      <% else %>
        <li><span class='mk-color'>Secretária MK</span></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= log_in_or_out_button %></li>
    </ul>
  </div>
</div>

<br />
