<div class="top-bar">
  <div class='mk-color'>

  </div>
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= image_tag 'secretary-woman2.png', height: '18', width: '18' %></li>
      <li><%= link_to 'Pedidos', requests_index_path, class: 'mk-color' %></li>
      <li><%= link_to 'Produtos', products_index_path, class: 'mk-color' %></li>
      <li><%= link_to 'Clientes', customers_index_path, class: 'mk-color' %></li>
      <li><%= link_to 'Vendas', sales_index_path, class: 'mk-color' %></li>
    </ul>
  </div>
</div>

<br />
