<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Secretária MK" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/navbar' %>
  </head>

  <body>

    <%= yield %>

  </body>
  <footer>
    <br /><br />
    <blockquote class='cite text-right' cite="https://www.goodreads.com/author/quotes/24453.Mary_Kay_Ash">
      <% number = rand(1..10) %>
      <%= I18n.t("mary_kay_ash_quotes.#{number}") %>
      <cite>Mary Kay Ash</cite>
    </blockquote>
  </footer>
</html>
